dist/game.js
dist/game.js.map
Prefabs/EditingTemplate.cfg
Pictures/Game_Thumbnail.jpg
Tools/
DBCache
.mw
tsconfig.json
tsconfig.tsbuildinfo
ResCheck
AutoBackup
*.uexp
*.umap
.mw/Build
Config/UIOutlineData.ini
